
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="/">Snack Time!</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link active" href="/snackLife">Snack Life</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/snackSubmit">Snack Submit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/snackList">Snack List</a>
  </li>
</ul>

