<div class="lista">
  <h1>The Snack List!</h1>
</div>
<div class="lista3">
  <ul>
    <li>Benton's Chocolate Chip Cookies</li> 
    <li>Zapp's Voodoo Chips</li>
    <li>Guaraná Antarctica Soda</li>
    <li>Sour Jacks Original</li>
    <li>Sour Patch Kids Berries</li>
    <li>Haribo Sour Streamers</li>
    <li>Pop Rocks!</li>
    <li>Fruit Leather</li>
    <li>Any Mint Chocolate Chip Ice Cream</li>
  </ul>
</div>

<div class="dlbtn">
 <a class="btn btn-primary btn-lg btn-dark" href="SnackList.txt" download="SnackList.txt">Download Snack List</a>
 </div>
<br>
<body>
    <section>
        <div class="card-group">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:200px;width:300px;" src="chip.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Benton's Chocolate Chip Cookies, Blue</h5>
                    <p class="card-text">"They're completely irresistible right down to the last bite."</p>
                    <p>Find these at any Aldi store, </p>
                    <a href="https://www.aldi.us/stores/" class="btn btn-primary">Find an Aldi</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:320px;width:300px;" src="ZapL.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Zapp's Vodoo Style Kettle Chips</h5>
                    <p class="card-text">Possibly the best Kettle style chips on the market, unique taste unlike other flavors.
                      "Our New Orelans Kettle Style chips are cooked to perfection and combined with premium ingredients. This special recipe resuts in a crunchies
                      , tastier and unique potato chip experience which we hope you will prefer."
                      Possibly the best Kettle style chips on the market, unique taste unlike other flavors.
                       but at the same time readily availabe at the super market, Amazon.com, or directly from Utz.</p>
                    <p>Buy them Directly from Utz</p>
                    <a href="https://www.utzsnacks.com/products/zapps-kettle-potato-chips-voodoo?variant=9157553553452" class="btn btn-primary">Utz Chips</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img class="card-img-top"  style="height:300px;width:280px;" src="guarL.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Guarana Antarctica</h5>
                    <p class="card-text">Want something different from all the high fructose corn syrup of USA softdrinks, try this Brazillian drink.
                      The taste is berry-like, sweet without the sour</p>
                    <p>Buy them off Amazon, cause they are imported.</p>
                    <a href="https://www.amazon.com/Guarana-Antarctica-Guaran%C3%A1-Flavoured-Rainforest/dp/B0083TLAEK/ref=sr_1_2?dchild=1&keywords=Guarana+Antarctica&qid=1621911522&s=grocery&sr=1-2" class="btn btn-primary">Amazon Link</a>
                </div>
            </div>
            
        </div>
    </section>
    <section>
        <div class="card-group">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:250px;width:250px;" src="sourjacks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sour Jacks Original</h5>
                    <p class="card-text">Sour Jacks, are the original sour candy in my book.</p>
                    <a href="https://www.amazon.com/Sour-Jacks-Original-Chewy-Wedges/dp/B0948YSDGV/ref=sr_1_7?dchild=1&keywords=Sour+Jacks&qid=1621911612&s=grocery&sr=1-7" class="btn btn-primary">Amazon Link</a>
                    <a href="https://www.sourjacks.com/" class="btn btn-primary">Sour Jacks</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:250px;width:260px;" src="sourpatch.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sour Patch Kids Berries</h5>
                    <p class="card-text">Can't go wrong with Sour Patch kids. I like the berry flavor cause its different from most gummies. You can find this 
                      variety in most stores. 
                    </p>
                    <a href="https://www.amazon.com/Sour-Patch-Kids-Berries-7-2-Ounce/dp/B005DDCFCU/ref=sr_1_1?dchild=1&keywords=sour+patch+kids+berries&qid=1621911801&s=grocery&sr=1-1" class="btn btn-primary">Amazon Link</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:250px;width:250px;" src="hari.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Haribo Sour Streamers</h5>
                    <p class="card-text">The best of the gummies, these are better than the Sour Straws versions that usually only come in one flavor. </p>
                    <a href="https://www.amazon.com/Haribo-Gummi-Candy-Streamers-Ounce/dp/B07J338LQH/ref=sr_1_2?dchild=1&keywords=Haribo+Sour+Streamers&qid=1621912017&s=grocery&sr=1-2" class="btn btn-primary">Amazon Link</a>
                    <a href="https://www.haribo.com/en-us/products/z-ng-sour-streamers" class="btn btn-primary">Haribo Sour Streamers Site</a>
                </div>
            </div>
            
        </div>
    </section>



<section>
        <div class="card-group">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:250px;width:250px;" src="poprocks.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Pop Rocks</h5>
                    <p class="card-text">When you can't get your carbonation from drinks, you can always try this fun candy. You can find
                      this in most candy isles. 
                    </p>
                    <a href="https://www.pop-rocks.com/" class="btn btn-primary">Pop Rocks Site</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:250px;width:250px;" src="fleather.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Fruit Leather</h5>
                    <p class="card-text">An age old classic, before fruit-by-the-foot there was fruit leather.</p>
                    <a href="https://www.amazon.com/Trader-Joes-New-Organic-Strawberry-Mango/dp/B07N49M3J7/ref=sr_1_3?dchild=1&keywords=trader+joes+fruit+leather&qid=1621916421&s=grocery&sr=1-3" class="btn btn-primary">Amazon Link</a>
                </div>
            </div>
            
            
        </div>
    </section>

  </body>

