<body>
    <div class="lista">
      <h1>Dedicated Snack List</h1>
    </div>

    <section>
        <div class="card-group">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:400px;width:400px;" src="doodle.png" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text"> https://pixabay.com/illustrations/doodle-cartoon-drawn-food-sweet-3505459/</p>
                    <h3 class="card-title">Why Snack?</h3>
                    
                </div>
            </div>

            <div class="card" style="width: 54rem;">
                <div class="card-body">
                    <h2 class="card-title">Why Not?</h2>
                    <p class="card-text">Why not eat a proper meal? Why not just wait to lunch?... Well because you deserve this. 
                      You need this sugar, you have earned this. The questions need no answer. Just indulge. </p>
                </div>
            </div>
        </div>
    </section>
 
    <section>
        <div class="card-group">

            <div class="card" style="width: 54rem;">
                <div class="card-body">
                    <h2 class="card-title">Why list?</h2>
                    <p class="card-text">You have to keep track of the things in life that you enjoy. Sometimes we as humans forget
                        how great a simple treat can be. I could try to remember every snack that I enjoy to figure out which to buy
                        , or I can consult the list. The list has no order, or ranking. The snack will call you.  </p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:400px;width:500px;" src="candy.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">https://pixabay.com/photos/candy-jelly-beans-confectionery-3200857/</p>
                    <h4 class="card-title">Make a list!</h4>
                    
                </div>
            </div>
        </div>
    </section>
   <section>
        <div class="card-group">
            <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="height:400px;width:500px;" src="candies-171342_1920.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">https://pixabay.com/photos/candies-gummies-sweets-171342/</p>
                    <h2 class="card-title">Health Considerations?</h2>
                </div>
            </div>

            <div class="card" style="width: 54rem;">
                <div class="card-body">
                    <h4 class="card-title">Let's Pretend</h4>
                    <p class="card-text">Pretend that you are a child with an iron stomach and you can eat any amount of candy and junk food.
                        That is the only consideration here. Everything else is moot. </p>
                </div>
            </div>
        </div>
    </section>

  </body>

