<div class="bg-image" 
     style="background-image: url('background.jpg');
            height: 100vh">

<section class="lista2">
    <form action="http://httpbin.org/post" 
    method="post" class="form1">
        <fieldset>
            <legend>Snack Submission for Review</legend>
            <p class="form1">
                <label>Snack Name:<input type="text" name="text_input"></label>
            </p>    
            <p class="form1">
                <label>Brand: <input type="text" name="text_input"></label>
            </p>     
            <p class="form1">
                <label>Location for purchase: <input type="text" name="text_input"></label>
            </p>  
            <p class="form1">
                <label>Reasons for consideration: <input type="text" name="text_input"></label>
            </p>

            <div class="lista2" ></div>
              <div style="height:140px;width:310px;border:1px solid #ccc;font:18px/26px Georgia, Garamond, Serif;overflow:auto;">
              
              I understand to abide by the rule of the Snack List, hereby and forever and in perpetuity and by loss of limb and 
              loss of valor, through persecution and words and things.And um... so hence forth, and so on. Bob Loblaw, blob lah.  All 
              snacks submitted must be done in good faith, and proper evidence of snack worthiness. Failure to abide by all these
              terms and conditions will result in the forfieture of ones first unborn child, and/or parent. </div>

              <p class="listo">
                <label >  
                    <p><input type="checkbox" name="Agree" value="Agree.">  I agree to terms of snack submission</p>
                    <p><input class="btn btn-primary" type="submit" value="Submit"></p>
                </label>
            </p>

              </div>
            </div>
        </fieldset>    
    </form>
    <br>
</section>

</div>
